@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Quicksand&display=swap');
body{
    
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    color: white;
    
}
.root{
    --primary-color:#A78BFA;
    --lite-background:#2c2b30;
    --lite-color:#D1D5DB;
    margin: 0px;
    
}
hr{
    margin: 2rem 0rem;
}
.container{
    padding-right: 1rem;
    padding-left: 1rem;
}
.container-centered{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.link{
    
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.link-primary{
    border-radius: 0.5rem;
    /**background-color:var(--primary-color);**/
    background-color:#A78BFA;
    color:black ;
    
    

}
.link-secondary{
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    border: 1px black solid;
}
.list-non-bullet{
    list-style: none;

}
.list-unordered-inline{
    display: inline;
    padding: 0rem 0.5rem;
    

}
.navigation{
    background-color:#A78BFA;
    color:black;
    padding: 1rem 0rem;
    border-bottom-left-radius: 1rem;
}
.nav-developer{
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 0.3rem;

}
.navigation .nav-pill{
    text-align:right;
}
.navigation .nav-active{
    font-weight: bold;
}
.navigation .link{
    color: black;
}

.hero{
    padding: 2rem;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;

}
.hero .hero-heading{
    padding-top: 1rem;
    font-weight: bold;
    color:#D1D5DB;
    text-align: center;
}
.weight{
    color:#A78BFA ;
}
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
    
}
.ow{
    background-color:#2c2b30;
    color: white;

}
.footer{
    background-color:#A78BFA;
    padding: 2rem 1rem;
    color: black;
    text-align: center;
    border-top-right-radius: 1rem;
    

}
.footer .link{
    color: black;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.secondary-weight p{
    font-size: 1.5rem;
}
.center{
    text-align: center;
    font-size:xx-large;
}
