@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Quicksand&display=swap');
body{
    
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    color: white;
}
.root{
    --primary-color:#f2c4ce;
    --dark-gray:#6B7280;
    --lite-color:#F3F4F6;
    --off-whitecolor:#2c2b30;
    margin: 0px;
}
hr{
    margin: 2rem 0rem;
}
.container{
    padding-right: 1rem;
    padding-left: 1rem;
}
.container-centered{
    max-width: 600px;
    margin: auto;
}
.link{
    
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.link-primary{
    border-radius: 0.5rem;
    /**background-color:var(--primary-color);**/
    background-color:#f2c4ce;
    color:black ;
    

}
.link-secondary{
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    border: 1px black solid;
}
.list-unordered{
    list-style: none;

}
.list-unordered-inline{
    display: inline;
    padding: 0rem 0.5rem;

}
.navigation{
    background-color:#f2c4ce;
    color:black;
    padding: 1rem 0rem;
    border-bottom-left-radius: 1rem;
}
.nav-developer{
    font-weight: bold;
    /**font-size: 1.3rem;**/

}
.navigation .nav-pill{
    text-align: right;


}
.navigation .nav-home{
    font-weight: bold;
}
.navigation .link{
    color: black;
}

.hero{
    padding: 2rem;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;

}
.hero .hero-heading{
    padding-top: 1rem;
    font-weight: bold;
    color:#4f4f51;
    text-align: center;
}
.hero .heading-inverted{
    color:#f2c4ce ;
}
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
    
}
.ow{
    background-color:#2c2b30;
    color: white;

}
.footer{
    background-color:#f2c4ce;
    padding: 2rem 1rem;
    color: black;
    text-align: center;
    border-top-right-radius: 1rem;
    

}
.footer .link{
    color: black;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}